@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: var(--font3);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding-top: 70px;
}
:root {
  --font1: "Heebo", sans-serif;
  --font2: "Fira Sans Extra Condensed", sans-serif;
  --font3: "Roboto", sans-serif;
}
i{
  cursor: pointer;
}
.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  display: none;
  transition: all 0.3s ease;
}

.sticky-navbar.show {
  display: flex;
}
body {
  padding-top: 56px;
}
.nav-item .search{
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
}
/*home section*/
.home .carousel-item img {
    height: 550px;
    object-fit: cover;
}

.home .carousel-overlay {
  z-index: 10; 
}

.home .carousel-inner img {
  height: 100vh; 
  object-fit: cover;
 }

.home {
  position: relative; 
}

.home .carousel {
  height: 100vh; 
}

.home .carousel-indicators {
  z-index: 11; 
}
/* best seller section*/
/* Styling the Section */
.best-sellers-section {
  padding: 30px 0;

}

.best-sellers-line {
  overflow: hidden;
  white-space: nowrap;
 background-color:white;

  padding: 10px 0;
  font-size: 1.2rem;
  position: relative;


}

.best-sellers-content {
  display: inline-block;
  animation: scroll 25s linear infinite;

}
.best-sellers-content img{
  height: 200px;
  margin-left: 30px;
  width: 200px;
  border-radius: 10px;

}
.best-sellers-content span {
  margin: 0 50px;
}

h1.line,
h1.pro{
  font-family: "Protest Revolution", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  
}


/* Animation Keyframes */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}




/* our product section*/
.pro {
  padding: 50px;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
}




h2 {
  font-weight: 900;
}
.container-fluid {
  max-width: 1200px;
}
.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0;
  border-radius: 1rem;
}
.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
 
}
.card h5 {
  overflow: hidden;
  height: 56px;
  font-weight: 900;
  font-size: 1rem;
}
.card-img-top {
  width: 100%;
  max-height: 180px;
  max-height: 50vh;
  height: 35vh;
  padding: 30px;
}
.card h2 {
  font-size: 1rem;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.label-top {
  position: absolute;
  background-color: #8bc34a;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}
/*class in stock - in tech*/
.top-right {
  position: absolute;
  top: 30px;
  left: 24px;
 border-radius: 7px;
  font-size:12px;
  font-weight: 900;
  background: #0b8325c4;
  text-align: center;
  color: white;
}
.top-right span {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .card-img-top {
    max-height: 250px;
  }
}
.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}
.btn {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px;
}
.box .btn {
  font-size: 1.5rem;
}
@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px;
  }
}
@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px;
  }
}
.btn-warning {
  background: none  #432b12;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(150, 78, 5, 0.25);
  border-radius: 100px;
}
.btn-warning:hover {
  background: none  #432b12b1;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
}
.bg-success {
  font-size: 1rem;
  background-color: #432b12b1 !important;
}
.bg-danger {
  font-size: 1rem;
}
.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray;
}
.amz-hp {
  font-size: 0.7rem;
  font-weight: 600;
  color: darkgray;
}


.box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.box-img {
  max-width: 300px;
}
.thumb-sec {
  max-width: 300px;
}
@media (max-width: 576px) {
  .box-img {
    max-width: 200px;
  }
  .thumb-sec {
    max-width: 200px;
  }
}
.inner-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 1px;
  display: inline-block;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 370px) {
  .box .btn {
    padding: 5px 40px 5px 40px;
    font-size: 1rem;
  }
}
.disclaimer {
  font-size: 0.9rem;
  color: darkgray;
}
.related h3 {
  font-weight: 900;
}

/* contact section*/
.contact .info{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07),-2px -2px 4px rgba(0, 0, 0, 0.07);
}
.contact #textarea{
background-color: white;
outline: none;
border: none;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07),-2px -2px 4px rgba(0, 0, 0, 0.07);
}
.contact .submit{
padding: 5px 10px;
border: none;
background-color: #f2bb81;
color: white;
font-weight: bold;
display: block;
text-align: center;
width: 100px;
border-radius: 10px;
margin: 5px auto;
transition: 1s;
}
.contact .submit:hover{
  background-color: #ed9c46;
}

.contact .image img {
width: 400px;
height: 300px;
}
/* footer section*/
.footer .foot{
  overflow:hidden; 
  margin-top: 250px ;
  background:#262626 ;
  color: #627482  !important;
  margin-bottom: 0 ;
  padding-bottom:0  ;
}

.footer small{
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.footer .bold-text{
  color: #989c9e !important;
}


.footer .mt-55{
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


.footer h3{
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.footer .social{
  font-size: 21px !important; 
}

.footer .rights{
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}